body {
    margin: 0;

    background-color: hsl(177, 33%, 79%);
}
* {

    box-sizing: border-box;
}

h1 {
    color: hsl(217, 87%, 15%);
}



/* main styles*/
.container {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;

}

.form-div {

}


input[type="text"] {
    width: 20%;
    margin-right: 5px;
    height: 40px;
    border-radius: 8px;

}
input[type="text"]:focus {
    border: ;
}

/* error block styles*/
p {
    text-align: center;
    font-style: italic;
    color: rosybrown;
}

/* result container styles*/
.result-div {
    width: auto;
    height: auto;
    background-color: hsl(337, 87%, 15%);
}

.show-result {

    height: 10%;
    width: 30%;
    background-color: hsl(217, 87%, 15%);
    color: aliceblue;
    font-size: extra-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;


}
