
* {
    background-color: hsl(177, 33%, 79%);
}

/* header styles*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-1 {
    color: hsl(217, 87%, 15%);
}

/* main styles*/
.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 50px;

}

/* error block styles*/
p {
    text-align: center;
    font-style: italic;
    color: rosybrown;
}

/* result container styles*/
.result-div {
    height: 50px;
    margin: 30px 580px 0 580px;
    background-color: hsl(217, 87%, 15%);
    border-radius: 10px;
    border-style: double;
    border-color: rgb(70, 12, 75);
    text-align: center;
}

.show-result {
    background-color: hsl(217, 87%, 15%);
    color: aliceblue;
    font-size: extra-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;


}
