body {
    margin: 0;

    background-color: hsl(177, 33%, 79%);
}
* {

    box-sizing: border-box;
}




/* main styles*/
.container {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;

}


h1 {
    color: hsl(217, 87%, 15%);
}

/* input text styles*/
input[type="text"] {
    background-color: lightblue;
    height: 40px;
    margin: 8px;
    border-radius: 8px;
    border-style: double;
    transition: 0.5s;
    outline: none;
}
input[type="text"]:focus {
    border: 3px dotted hsl(217, 87%, 15%);
    }

.selector {
    background-color: lightblue;
    height: 40px;
    border-radius: 8px;
    border-style: dotted;
    transition: 0.5s;
    outline: none;
}

select:focus {
    background-color: ivory;
    border: 3px dotted hsl(217, 87%, 15%);

}

/* error block styles*/
p {
    text-align: center;
    font-style: italic;
    color: rosybrown;
}

/* button style*/
.button {
    background-color: rgb(16, 114, 146);
    height: 40px;
    border-radius: 8px;
}
.button-1:hover {
    box-shadow: 0 0 10px 0 #208db8 inset, 0 0 20px 2px #208db8;
    border: 3px solid #208db8;
  }


/* result container styles*/
.result-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: auto;
    height: auto;

}

.show-result {
    height: 70px;
    width: 250px;
    background-color: hsl(217, 87%, 15%);
    color: aliceblue;
    font-size: extra-large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    border-radius: 8px;
    text-align: center;
}
